/*
 * PROJECTION WIZARD v2.0
 * Map Projection Selection Tool
 *
 * Author: Bojan Savric
 * Date: April, 2020
 *
 */

@font-face {
    font-family: TitleFont;
    src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: TextFont;
    src: url(fonts/OpenSans-Regular.ttf);
}

body {
	font-family: TextFont;
	font-size: small;
}

#container {
	max-width: 1024px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-family: TitleFont;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	margin-top: 7px;
	margin-bottom: 23px;
}

#inputUIarea {
	background-color: #F2F2F2;
}

#map {
	height: 450px;
	margin-left: 225px;
}

.inputUI {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
	float: left;
	height: 440px;
	position: relative;
}

.inputBox {
	max-width: 123px;
}

.inputSection {
	margin-top: 20px;
	margin-bottom: 10px;
}

#settings {
	vertical-align: top;
	margin-top: -29px;
	margin-right: 0px;
	float: right;
}

#help {
	vertical-align: top;
	margin-top: -29px;
	margin-right: 29px;
	float: right;
}

.step-circle {
	background: #ff7b1a;
	color: #fff;
	border-radius: 70%;
	/*border: 0.75px solid #ff7b1a;
	behavior: url(PIE.htc);	*/
	padding: 1.5px 7px;
	text-align: center;
	font-weight: bold;
}

.ui-circle {
	background: #6fa2f6;
	color: #fff;
	border-radius: 70%;
	/*border: 0.75px solid #6fa2f6;
	behavior: url(PIE.htc);	*/
	padding: 1.5px 7px;
	text-align: center;
	font-weight: bold;
}

#ang_ops {
	margin-top: -10px;
}

#round_ops {
	margin-top: -10px;
}

#buttons {
	max-width: 200px;
	margin-top: 20px;
	text-align: center;
}

#credits {
	/*text-align: center;*/
	font-size: 9px;
	position: absolute;
	bottom: 0;
}

.ui-button {
	font-size: small;
}

.extend {
	display: inline-block;
	width: 3.5em;
}

.dialogtext {
	font-family: TextFont;
	font-size: small;
	margin: 0;
	position: relative;
	z-index: 101;
}

fieldset {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 260px;
}
legend {
    font-weight: bold;
}

.leaflet-div-newicon {
	background: #f00;
	border: 1px solid #600;
}

#output {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.outputText {
	font-family: TextFont;
	font-size: small;
	margin: 0;
}

.linkPROJ4 {
	font-size: x-small;
}

.leaflet-control-attribution {
	width: 155px;
	text-align: left;
}

.ui-tooltip {
	font-size: 12px;
}


.results {
	width: 53.5%;
	margin-right: 1.5%;
	float: left;
}
	
#mapText {
	margin-top: 10px;
	margin-bottom: 10px;
}

#previewMap {
	width: 45%;
	font-size: small;
	text-align: center;
	position: relative;
	float:right;
}

.sliderBox {
	margin-left: 14em;
	margin-top: -18px;
	width: 235px;
	height: 18px;
	position: absolute;
}

.sliderTextL {
	margin-top: 1px;
	width: 40px;
	height: 18px;
	position: relative;
	float: left;
	font-size: x-small;
	text-align: right;
}

.sliderTextR {
	margin-top: 1px;
	width: 40px;
	height: 18px;
	position: relative;
	float: right;
	font-size: x-small;
	text-align: left;
}

.slider {
	margin-top: 6px;
	margin-left: 45px;
	width:  145px;
	height: 0.25em;
	position: absolute;
}

.ui-slider .ui-slider-handle {
	width:  0.5em;
	height: 0.75em;
	top:    -.3em;
}

canvas {
	margin-top: 5px;
	margin-bottom: 10px;
}

.outputContainer {
	width: 49%;
}

.stroke {
	fill: none;
	stroke: #000;
	stroke-width: 3px;
}
.fill {
	fill: #000;
}
.graticule {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
	stroke-opacity: .5;
}
.land {
	fill: #fff;
	stroke: #777;
	stroke-width: .75px;
}
.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}

.ui-dialog {
	z-index: 1001
}

.leaflet-top, .leaflet-bottom {
	z-index: 1000;
}

.marker-icon:hover {
	background-color: #ff7b1a;
}

.active-projection {
	color: steelblue;
	font-weight: bold;
}
